.document h2 {
    font-size: 1.25em;
}

.wy-side-nav-search, .wy-nav-top {
    background: rgb(0, 0, 0);
}

section {
    text-align: left;
}

.note .reference,
.note .external,
.reference {
    word-break: break-all;
}

.wy-nav-content {
    max-width: none;
 }

.sphx-glr-thumbcontainer {
    text-align: left;
}

.sphx-glr-thumbnail-title {
    font-size: 0.9em;
    text-align: left;
}

.versionadded, .versionchanged {
    border: 2px solid #28a745;
    background-color: #eaf8f0;
    color: #000000;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 5px 0;
    width: fit-content;
}

img, a img {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Convert badges to inline blocks and set margin, font size, and line height to 0 to remove the fix spacing/
blue underscore issue */
.reference.external.image-reference {
    display: inline-block;
    margin: 0;
    font-size: 0;
    line-height: 0;
  }

.reference.external.image-reference img {
    margin: 0;
    display: inline-block;
  }
