.document h2 {
    font-size: 1.25em
}

.wy-side-nav-search, .wy-nav-top {
    background: rgb(0, 0, 0);
}

section {
    text-align: justify;
    word-spacing: -0.08em;
}

.note .reference,
.note .external,
.reference {
    word-break: break-all;
}

.wy-nav-content {
    max-width: none;
 }