.sphx-glr-thumbnail-title {
    font-size: 0.9em !important;
}

img, a img {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Convert badges to inline blocks and set margin, font size, and line height to 0 to remove the fix spacing/
blue underscore issue */
.reference.external.image-reference {
    display: inline-block !important;
    margin: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
}

.reference.external.image-reference img {
    margin: 0 !important;
    display: inline-block !important;
}

.prev-next-title {
    display: none !important;
}