name: Run Tests

on:
  push:
    branches: [main, development]
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: 0 0 * * 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-ver: ['3.10', '3.11', '3.12', '3.13', '3.14']

    name: Python ${{ matrix.python-ver }} check on ${{ matrix.os }}
    env:
      OMP_NUM_THREADS: 1
      MKL_NUM_THREADS: 1
      OPENBLAS_NUM_THREADS: 1
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'recursive'
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-ver }}

      - name: Install package & pytest for Mac & Ubuntu
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          pip install .[test]
          python -c "import kaleido; kaleido.get_chrome_sync()"
        shell: bash

      - name: Install pytest-forked for Ubuntu Python 3.11+
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-ver != '3.9' && matrix.python-ver != '3.10' }}
        run: pip install pytest-forked
        shell: bash

      - name: Install package & pytest for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          git config --system core.longpaths true
          pip install .[windows,test]
          python -c "import kaleido; kaleido.get_chrome_sync()"
        shell: cmd

      - name: Run tests with coverage for Ubuntu on Python 3.10
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-ver == '3.10' }}
        uses: coactions/setup-xvfb@v1
        with:
          options: -screen 0 1600x1200x24
          run: pytest tests/ --cov neurocaps -v

      - name: Run tests without coverage for Ubuntu on Python 3.11-3.14 (forked)
        if: ${{ matrix.os == 'ubuntu-latest' && (matrix.python-ver == '3.11' || matrix.python-ver == '3.12' || matrix.python-ver == '3.13' || matrix.python-ver == '3.14') }}
        uses: coactions/setup-xvfb@v1
        with:
          options: -screen 0 1600x1200x24
          run: pytest tests/ --forked -v

      - name: Run tests without coverage for Ubuntu on Python 3.9
        if: ${{ matrix.os == 'ubuntu-latest' && (matrix.python-ver == '3.9') }}
        uses: coactions/setup-xvfb@v1
        with:
          options: -screen 0 1600x1200x24
          run: pytest tests/ -v

      - name: Run tests without coverage for Mac
        if: ${{ matrix.os == 'macos-latest' }}
        run: pytest . -v
        shell: bash
        working-directory: tests

      - name: Run tests without coverage for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: pytest . -v
        shell: cmd
        working-directory: tests

      - name: Upload coverage reports to Codecov for Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-ver == '3.10' }}
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
